body
{
  background-image: url(../../model/assets/background.svg);
  font-family:"Montserrat";
  color:white;
}

.nav
{
  height:65px;
  display:flex;
  justify-content: space-around;
}


#chosen-option
{
  color:rgb(192, 185, 177);
  position:relative;
}

#chosen-option::before
{
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:2px;
  background-color: rgb(192, 185, 177);
}

.nav-options
{
  display:inline-block;
  text-decoration: none;
  color:white;
  display:flex;
  align-items: center;
  font-size:20px;
  font-weight: bold;
  position:relative;
}


.nav-options::before
{
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  width:0;
  height:2px;
  background-color: white;
  transition: width 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.nav-options:hover::before
{
  width:100%;
}


h1
{
  text-align: center;
  margin-top:50px;
  font-size:70px;
  color: rgb(192, 185, 177);
}

.reveal-more
{
  border:none;
  background-color:transparent;
  color:rgb(192, 185, 177);
  cursor:pointer;
  font-family:"Montserrat";
  font-size:20px;
  transition: opacity 0.25s; 

}

.reveal-more:hover
{
  opacity:0.7;
}


.about-body
{
  text-align: center;
}

li
{
  color: rgb(192, 185, 177);
  margin-top:30px;
  font-size:20px;
  text-align:center;
  list-style-position: inside;
}


.answer
{
  font-size:13px;
  color: rgb(192, 185, 177);
  display:none;
}


.hamburger-nav
{
  overflow:hidden;
  position:relative;
  padding:10px 0px 15px 7px;
  margin-top:10px;
  position:relative;
}

.hamburger-nav a
{
  display:block;
  font-size:30px;
  margin-bottom:10px;
  margin-top:20px;
  text-decoration:none;
  color:white;

}

#icon
{
  display:inline;
  padding-top:5px;
}

#links
{
  display:none;
}

.hamburger-header
{
  display:inline;
  font-weight:bold;
  font-size:25px;
  margin-left:190px;
}



@media only screen and (max-width: 767px)
{
  .nav
  {
    display: none;
  }


  .questions
  {
    list-style: none;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1280px)
{
  .hamburger-nav
  {
    display:none;
  }
}


@media only screen and (min-width: 1281px)
{
  .hamburger-nav
  {
    display:none;
  }
}