

h1
{
  text-align: center;
  margin-top:50px;
  font-size:70px;
  color: rgb(192, 185, 177);
}

.reveal-more
{
  border:none;
  background-color:transparent;
  color:rgb(192, 185, 177);
  cursor:pointer;
  font-family:"Montserrat";
  font-size:20px;
  transition: opacity 0.25s; 

}

.reveal-more:hover
{
  opacity:0.7;
}


.about-body
{
  text-align: center;
}

li
{
  color: rgb(192, 185, 177);
  margin-top:30px;
  font-size:20px;
  text-align:center;
  list-style-position: inside;
}


.answer
{
  font-size:13px;
  color: rgb(192, 185, 177);
  display:none;
}



@media only screen and (max-width: 767px)
{
  .nav
  {
    display: none;
  }


  .questions
  {
    list-style: none;
  }
}
