


.contact-body
{
  position:absolute;
  top:55%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
}

.input-body
{
  background-color:#333333;
  padding-left:110px;
  padding-right:110px;
  padding-bottom:50px;
  border-radius: 0.3rem;
}


.input
{
  position:relative;
  display: block;
  margin-top:50px;

  background-color: #333333;
  color:#c0b9b1;

  outline:none;

  border:none;
  border-bottom: 2px solid #c0b9b1;
  padding-bottom:6px;
  font-family:"Montserrat";
}


.input-error
{
  border-bottom: 2px solid red;
}

.input-error::placeholder
{
  color:red;
  font-weight:lighter;
}

#description
{
  height:90px;
  resize:none;
  font-family:"Montserrat";
}

.contact-button
{
  border:none;
  background-color:#222222;
  color:#c0b9b1;
  font-weight:bold;
  padding: 20px;
  margin: 20px 30px;
  cursor:pointer;
  transition: opacity 0.4s;
}

.contact-button:hover
{
  opacity: 0.8;
}

.contact-button:active
{
  opacity:0.5;
}

.info-body
{
  background-color: #111111;
  padding:0 60px;
  border-radius: 0.3rem;
}
.info
{
  display: block;
  margin-bottom:100px;
}

.header
{
  text-align: center;
  position:relative;
  margin-bottom:30px;
}

.header::before
{
  content:"";
  position:absolute;
  height:2px;
  width:100%;
  left:0;
  bottom:0;
  background-color:rgb(192, 185, 177); 
  margin-bottom:-8px;

}

.socials
{
  display: flex;
  justify-content: space-around;
  cursor:pointer;

}




@media only screen and (max-width:767px)
{
  .input-body
  {
    padding-left:80px;
    padding-right:80px;
    padding-bottom:20px;
  }

  .info-body
  {
    display:none;
  }
  .contact-body
  {
    position:absolute;
    top:80%;
  }
}

@media only screen and (min-width:768px) and (max-width:1280px)
{

  .input
  {
    font-size:20px;
  }

  .contact-button
  {
    padding: 30px;
    margin: 20px 40px;
    font-size:20px;
  }

  .info
  {
    font-size:20px;
  }

}
