
.error-div
{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #333333;
  padding: 50px 70px;
}

.error-header
{
  font-size:45px;
}

.error-info
{
  font-size:20px;
  font-weight: light;
}