

.shop-body
{
  position:absolute;
  left:150px;
  top:210px;
  display:inline-block;
}

.header
{
  font-size:70px;
  margin-bottom:0px;
  margin-left:10px;
}

.description-body
{
  position:absolute;
  left:800px;
  top:170px;
  display:block;
}

.description-paragraph
{
  width:250px;
}

.description-image
{
  filter: drop-shadow(1px 1px 15px rgb(99, 98, 98));
}
.description-paragraph
{
  letter-spacing: 4px;
  font-size:20px;
  width:340px;
  margin-left: 15px;
}

.shop-button
{
  padding: 24px 72px;
  border-radius: 5px;
  margin-left:35px;
  margin-top:50px;
  font-size:15px;
  font-family: "Montserrat";
  background-color:black;
  color:#c0b9b1;
  border-color:#c0b9b1;
  border-style:solid;
  transition: background-color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1), color 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}


.shop-button:hover
{
  background-color:#c0b9b1;
  color:black;
}

.shop-button:active
{
  background-color:black;
}




@media only screen and (max-width: 767px)
{

  .header
  {
    display:none;
  }

  .shop-button
  {
    margin-left:-100px;
    margin-top:550px;
    font-size:20px;
  }

  .description-image
  {
    margin-top:140px;
    margin-left:-765px;
    width:300px;
    height:300px;
  }

  .description-paragraph
  {
    margin-left:-765px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px)
{

  .header
  {
    display:none;
  }

  .shop-button
  {
    margin-left:60px;
    margin-top:590px;
    font-size:25px;
    padding: 2rem 5rem;
  }

  .description-image
  {
    margin-top:140px;
    margin-left:-590px;
    margin-bottom:10px;
    width:300px;
    height:300px;
  }

  .description-paragraph
  {
    margin-left:-590px;
  }
}
