


form
{
  background-color: #333333;
  display:inline-block;
  position:absolute;
  left:50%;
  bottom:-25%;
  transform:translate(-50%, -50%);
  padding: 100px 100px;
  border-radius: 0.3rem;
}

.input
{
  display:block;
  background-color:#333333;
  border:none;
  outline:none;
  color:#c0b9b1;
  font-family:"Montserrat";
  border-bottom: 2px solid #c0b9b1;
  padding-bottom:6px;
  width:100%;
  font-size:18px;
  margin-bottom:40px

}

.login-button
{
  margin-left:60px;
  padding:20px 40px;
  background-color:#222222;
  color:#c0b9b1;
  border:none;
  font-family: "Montserrat";
  font-size:17px;
  transition: opacity 0.4s;
  cursor:pointer;
}

.login-button:hover
{
  opacity:0.8;
}

.login-button:active
{
  opacity:0.5;
}


.sign-option
{
  color:#653865;
  text-decoration:none;
  font-weight:bold;
  transition:color 0.25s;
}

.sign-option:hover
{
  color:#8b528b;
}

.sign-option:active
{
  opacity:0.6;
}

.sign-text
{
  color:#c0b9b1;
}

.sign-container
{
  margin-top:40px;
}

.platforms-text
{
  font-size:14px;
  color:#858282;
  text-align:center;
  margin-top:45px;
  position:relative;
  padding-bottom:10px;
}

.platforms-text::before
{
  content:"";
  position:absolute;
  height:0.5px;
  width:100%;
  left:0;
  bottom:0;
  background-color:#858282;
}

.platforms
{
  display:flex;
  justify-content:space-around;
  padding-top:10px;
  cursor:pointer;
}



@media only screen and (max-width: 767px)
{

  .login-container
  {
    bottom: -45%;
  }

  .login-button
  {
    width:100%;
    margin-left:0;
  }

  .input
  {
    width: 100%;
    margin-right: 300px;
  }
}

@media only screen and (min-width:768px) and (max-width:1280px)
{


  .login-container
  {
    bottom: -5%;
  }

  .login-button
  {
    width:100%;
    margin-left:0;
  }

  .input
  {
    width: 100%;
    margin-right: 300px;
  }
}

