

form
{
  background-color: #333333;
  display:inline-block;
  position:absolute;
  left:50%;
  bottom:-30%;
  transform:translate(-50%, -50%);
  padding: 50px 100px;
  border-radius: 0.3rem;
}


.input
{
  display:block;
  background-color:#333333;
  border:none;
  outline:none;
  color:#c0b9b1;
  font-family:"Montserrat";
  border-bottom: 2px solid #c0b9b1;
  padding-bottom:6px;
  width:100%;
  font-size:18px;
  margin-bottom:40px;
}

.input-error
{
  border-bottom: 2px solid red;
}

.input-error::placeholder
{
  color:red;
  font-weight:lighter;
}

.sign-button
{
  display:block;
  margin-left:60px;
  padding:20px 40px;
  background-color:#222222;
  color:#c0b9b1;
  border:none;
  font-family: "Montserrat";
  font-size:17px;
  transition: opacity 0.4s;
  cursor:pointer;
}

.sign-button:hover
{
  opacity:0.8;
}

.sign-button:active
{
  opacity:0.5;
}


.login-option
{
  color:#653865;
  text-decoration:none;
  font-weight:bold;
  transition:color 0.25s;
}

.login-option:hover
{
  color:#8b528b;
}

.login-option:active
{
  opacity:0.6;
}


.login-text
{
  color:#c0b9b1;
}

.login-container
{
  margin-top:40px;
}


.platforms-text
{
  font-size:14px;
  color:#858282;
  text-align:center;
  margin-top:45px;
  position:relative;
  padding-bottom:10px;
}

.platforms-text::before
{
  content:"";
  position:absolute;
  height:0.5px;
  width:100%;
  left:0;
  bottom:0;
  background-color:#858282;
}

.platforms
{
  display:flex;
  justify-content:space-around;
  padding-top:10px;
  cursor:pointer;
}


@media only screen and (max-width: 767px)
{



  .sign-container
  {
    padding: 40px 80px;
    bottom: -25%;
  }

  .input
  {
    font-size:18px;
  }

  .sign-button
  {
    width:150px;
    margin-right:50px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1280px)
{


  .sign-container
  {
    bottom: -10%;
    padding: 50px 150px;
  }

  .input
  {
    padding-bottom:6px;
    padding-right: 10px;
    width:150%;
    font-size:23px;
    margin-bottom:50px;
    margin-left:-70px;
  }

  .sign-button
  {
    margin-left:-10px;
    padding:30px 50px;
    font-size:23px;
    width:140%;
  }


  .login-option, .login-text
  {
    font-size: 20px;
  }

  
}
